#Fire up GraphLab Create

We always start with this line before using any part of GraphLab Create

In [1]:
import graphlab

#Load a tabular data set

In [8]:
sf = graphlab.SFrame('people-example.csv')

sp = graphlab.SFrame('sppmecdata.csv')

Read 7 lines. Lines per second: 575.138

Finished parsing file /home/drew/Dev/spp-da-price-forecast/mlclass/people-example.csv

Parsing completed. Parsed 7 lines in 0.014703 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/drew/Dev/spp-da-price-forecast/mlclass/people-example.csv

Parsing completed. Parsed 7 lines in 0.021498 secs.

Finished parsing file /home/drew/Dev/spp-da-price-forecast/mlclass/sppmecdata.csv

Parsing completed. Parsed 100 lines in 0.03223 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,float,float,float,float,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/drew/Dev/spp-da-price-forecast/mlclass/sppmecdata.csv

Parsing completed. Parsed 3648 lines in 0.009512 secs.

#SFrame basics

In [3]:
sf #we can view first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [9]:
sp.head()

Columns:
	interval	str
	hour	float
	windforecast	float
	loadforecast	float
	natgasprice	float
	diffmec	float

Rows: 10

Data:
+---------------------+------+--------------+--------------+-------------+
|       interval      | hour | windforecast | loadforecast | natgasprice |
+---------------------+------+--------------+--------------+-------------+
| 2016-08-01 00:00:00 | 0.0  |   9419.15    |   34925.0    |     2.97    |
| 2016-08-01 01:00:00 | 1.0  |   9526.57    |   33084.0    |     2.97    |
| 2016-08-01 02:00:00 | 2.0  |   9508.95    |   31562.0    |     2.97    |
| 2016-08-01 03:00:00 | 3.0  |   9376.61    |   30472.0    |     2.97    |
| 2016-08-01 04:00:00 | 4.0  |   9228.14    |   29909.0    |     2.97    |
| 2016-08-01 05:00:00 | 5.0  |   9039.04    |   29803.0    |     2.97    |
| 2016-08-01 06:00:00 | 6.0  |   8802.81    |   30575.0    |     2.97    |
| 2016-08-01 07:00:00 | 7.0  |   8544.92    |   31921.0    |     2.97    |
| 2016-08-01 08:00:00 | 8.0  |   8215.24    |   33705.0    |     2.97    |
| 2016-08-01 09:00:00 | 9.0  |   7676.61    |   35848.0    |     2.97    |
+---------------------+------+--------------+--------------+-------------+
+---------+
| diffmec |
+---------+
|  5.5041 |
|  6.5692 |
|  3.9592 |
|  2.8883 |
|  3.292  |
|  3.5476 |
|  5.8657 |
|  3.6058 |
|  3.3288 |
|  1.4762 |
+---------+
[10 rows x 6 columns]

#GraphLab Canvas

In [11]:
# .show() visualizes any data structure in GraphLab Create
sf.show()

Canvas is updated and available in a tab in the default browser.

In [10]:
sp.show()

Canvas is updated and available in a tab in the default browser.

In [12]:
# If you want Canvas visualization to show up on this notebook, 
# rather than popping up a new window, add this line:
graphlab.canvas.set_target('ipynb')

In [13]:
sf['age'].show(view='Categorical')

In [16]:
sp['hour'].show(view='Categorical')

#Inspect columns of dataset

In [17]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [13]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

Some simple columnar operations

In [14]:
sf['age'].mean()

23.142857142857146

In [15]:
sf['age'].max()

25

#Create new columns in our SFrame

In [16]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [18]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [19]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [21]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

#Use the apply function to do a advance transformation of our data

In [22]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [23]:
sf['Country'].show()

In [24]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [25]:
transform_country('Brazil')

'Brazil'

In [26]:
transform_country('Brasil')

'Brasil'

In [27]:
transform_country('USA')

'United States'

In [28]:
sf['Country'].apply(transform_country)

PROGRESS: Using default 16 lambda workers.
PROGRESS: To maximize the degree of parallelism, add the following code to the beginning of the program:
PROGRESS: "graphlab.set_runtime_config('GRAPHLAB_DEFAULT_NUM_PYLAMBDA_WORKERS', 32)"
PROGRESS: Note that increasing the degree of parallelism also increases the memory footprint.

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [29]:
sf['Country'] = sf['Country'].apply(transform_country)

In [30]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]